*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
html, body, #app {
  width: 100%;
  height: 100%;
}
a{
  color: inherit;
  text-decoration: none;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul,li{
  list-style: none;
}
select {
  outline: none;
}
input{
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  -webkit-appearance:none; /* 크롬 화살표 없애기 */
  -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
  appearance:none /* 화살표 없애기 */
}
