$color_red_1: #FFEADD;
$color_red_2: #FCAEAE;
$color_red_3: #FF8989;
$color_red_4: #FF6666;
$color_indigo_1: #F4EEFF;
$color_indigo_2: #DCD6F7;
$color_indigo_3: #A6B1E1;
$color_indigo_4: #424874;
$color_blue_1: #F7FBFC;
$color_blue_2: #D6E6F2;
$color_blue_3: #B9D7EA;
$color_blue_4: #769FCD;
$color_green_1: #E1F0DA;
$color_green_2: #D4E7C5;
$color_green_3: #BFD8AF;
$color_green_4: #99BC85;
