$color_red_1: #FFEADD;
$color_red_2: #FCAEAE;
$color_red_3: #FF8989;
$color_red_4: #FF6666;
$color_red_4_op25: rgba(#FF6666, 0.25);
$color_black_1: #DBDBDB;
$color_black_2: #A1A1A1;
$color_black_3: #484848;
$color_black_4: #000000;
$color_black_4_op25: rgba(#000000, 0.25);
$color_blue_1: #F7EEDD;
$color_blue_2: #ACE2E1;
$color_blue_3: #41C9E2;
$color_blue_4: #008DDA;
$color_blue_4_op25: rgba(#008DDA, 0.25);
$color_green_1: #D7FBE8;
$color_green_2: #9DF3C4;
$color_green_3: #62D2A2;
$color_green_4: #1FAB89;
$color_green_4_op25: rgba(#1FAB89, 0.25);
$color_purple_1: #FFE6E6;
$color_purple_2: #E1AFD1;
$color_purple_3: #AD88C6;
$color_purple_4: #7469B6;
$color_purple_4_op25: rgba(#7469B6, 0.25);