#app {
  color: var(--color-4);
  min-width: 300px;
}
.secessionPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-weight: 700;
  padding: 5rem 0;
  .logo {
    width: 80%;
    max-width: 600px;
    height: auto;
    fill: var(--color-4);
  }
  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    span {
      font-weight: 900;
    }
  }
  .sc_buttons {
    width:80%;
    max-width: 400px;
     button {
       width: 100%;
       &:first-of-type {
         background: var(--color-4);
         color: #fff;
         padding: 0.7rem;
         border-radius: 0.5rem;
       }
       &:last-of-type {
         color: #a5a5a5;
         margin-top: 1rem;
       }
     }
   }
}
.statisticsPage {
  padding-top: 1rem;
  > .inner {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 1.5rem;
  }
  .card {
    position: relative;
    width: calc(100% - 10px);
    margin: 5px auto 0;
    .header-template {
      padding: 0;
      white-space: nowrap;
      &.subTitle {
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        span strong {
          margin-left: 0.9rem;
        }
        button {
          float: right;
          background-color: var(--color-1);
          padding: 0.2rem 0.5rem;
          border-radius: 0.2rem;
        }
      }
      strong {
        margin-right: 0.5rem;
      }
      span {
        font-size: 0.75rem;
        strong {
          margin-right: 0.2rem;
        }
      }
    }
  }
  .statsSrchBtn {
    display: block;
    width: 100%;
    background-color: var(--color-4-op25);
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .noHisCard {
    p {
      width: 100%;
      text-align: center;
    }
  }
}
.manageInner {
  height: 100%;
  overflow-y: auto;
  .card {
    width: calc(100% - 10px);
    margin: 0 auto;
  }
}
.introPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .logo {
    width: 80%;
    max-width: 600px;
    height: auto;
    fill: var(--color-4);
  }
  .bottomPlace {
    margin-top: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    p {
      font-weight: 700;
    }
    .googleButton {
      background-color: var(--color-4);
      color: #fff;
      height: 2rem;
      width: 80%;
      max-width: 600px;
      border-radius: 0.5rem;
    }
    .themeButtons {
      border: 3px solid var(--color-4);
      border-radius: 0.5rem;
      padding: 1rem 2rem;
    }
  }
}
.themeButtons {
  display: flex;
  column-gap: 1.5rem;
  position: relative;
  p {
    position: absolute;
    width: 150px;
    padding: 0.5rem;
    left: calc(50% - 75px);
    bottom: -1.3rem;
    text-align: center;
    background-color: var(--color-4);
    color: #fff;
    border-radius: 0.5rem;
  }
  > button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    border: 3px solid var(--color-4);
    font-size: 0;
    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 30px;
      height: 30px;
      border-radius: 1rem;
      background-color: #1FAB89;
    }
    &:nth-of-type(1)::before { background-color: var(--color-red) }
    &:nth-of-type(2)::before { background-color: var(--color-purple) }
    &:nth-of-type(3)::before { background-color: var(--color-blue) }
    &:nth-of-type(4)::before { background-color: var(--color-green) }
    &:nth-of-type(5)::before { background-color: var(--color-black) }
    &:not(.active) {border-color: transparent}
  }
}
.calendarPlace {
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 0.5rem;
  .calTopBtns {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1rem;
    padding: 0 1rem;
    align-items: center;
    position: relative;
    > button {
      padding: 1rem 0;
      font-size: 1.3rem;
      &.prevBtn, &.nextBtn {
        font-size: 0;
        padding: 0;
        &::before {
          content: "";
          box-sizing: content-box;
          display: block;
          width: 10px;
          height: 10px;
          border-top: 4px solid var(--color-4);
          border-left: 4px solid var(--color-4);
          border-radius: 0.2rem;
        }
      }
      &.prevBtn {
        transform: rotate(-45deg);
      }
      &.nextBtn {
        transform: rotate(135deg);
      }
      &.todayBtn {
        position: absolute;
        right: 2.5rem;
        font-size: 0.7rem;
        background-color: var(--color-4);
        color: white;
        padding: 0.3rem 0.5rem;
        border-radius: 0.2rem;
      }
    }
  }
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1rem repeat(6, 50px);
    row-gap: 0.5rem;
    .day {
      border-bottom: 1px solid var(--color-4);
      line-height: 1rem;
    }
    .date {
      color: black;
      display: flex;
      flex-direction: column;
      row-gap: 0.4rem;
      align-items: center;
      .calendarDate {
        display: inline-block;
        width: 1.5rem;
        position: relative;
        padding: 2px;
      }
      .dots {
        display: flex;
        justify-content: center;
        column-gap: 0.2rem;
        > span {
          font-size: 0;
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
        }
        .redDot {
          background-color: var(--color-red);
        }
        .greenDot {
          background-color: var(--color-green);
        }
      }
    }

    .disabled {
      color: #a5a5a5;
      ::before {
        opacity: 0.5;
      }
      .redDot, .greenDot {
        opacity: 0.5;
      }
    }
    .today {
      color: var(--color-4);
      font-weight: 900;
      .calendarDate {
        border-bottom: 1px solid var(--color-4);
      }
    }
    .active {
      &.today .calendarDate {
        border-color: transparent;
      }
      .calendarDate {
        color: #fff;
        font-weight: 900;
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          top: calc(-0.4rem + 2px);
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 0.2rem;
          background-color: var(--color-4);
        }
        &::after {
          display: none;
        }
      }
    }
  }
}
.calendarBottom {
  overflow-y: auto;
  height: calc(100vh - 50px - 3.3rem - 1rem - 300px - 3rem - 1rem);
  section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    article {
      border: 1px solid var(--color-4);
      padding: 1rem;
      border-radius: 0.5rem;
      .articleHeader {
        text-align: center;
        position: relative;
        height: 1rem;
        h3 {
          position: absolute;
          border: 1px solid var(--color-4);
          font-size: 1.2rem;
          padding: 0.5rem;
          border-radius: 0.2rem;
          width: 100px;
          left: calc(50% - 50px);
          top: calc(-1rem - 0.6rem - 0.5rem);
          background-color: #fff;
        }
        span {
          font-size: 0.8rem;
          position: absolute;
          font-weight: 700;
          top: -0.5rem;
          &.left {
            left: 0;
          }
          &.right {
            right: 0;
          }
        }
      }
    }
  }
  .costBar {
    strong { display: block; }
    .barContainer {
      padding-top: 0.2rem;
      position: relative;
      height: 2.5rem;
      span {
        position: absolute;
        height: 1rem;
        border-radius: 0.5rem;
        max-width: 100%;
        &.bnfCostBar {
          background-color: var(--color-1);
          width: 100%;
        }
        &.useCostBar {
          background-color: var(--color-4);
        }
      }
      .bnfCost {
        position: absolute;
        top: 1.4rem;
        right: 0;
        font-size: 0.8rem;
      }
      .useCost {
        position: absolute;
        top: 1.4rem;
        left: 0;
        font-size: 0.8rem;
      }
    }
  }
}
.slideCard {
  position: absolute;
  z-index: 990;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  width: calc(90% + 1rem);
  max-width: calc(400px + 2rem);
  margin: 0 auto;
  &.viewHistoryCard {
    height: calc(100vh - 50px - 3.3rem - 1rem - 300px - 3rem + 1rem);
  }
}
.card {
  box-shadow: 0 0 3px 3px var(--color-4-op25);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  .card-header {
    display: flex;
    grid-template-columns: auto 1.8rem 1.8rem;
    grid-template-rows: 2rem;
    column-gap: 0.3rem;
    align-items: center;
    .card-title {
      font-size: 1.2rem;
      flex-grow: 1
    }
    .card-buttons {
      display: flex;
      column-gap: 0.3rem;
      button {
        width: 1.8rem;
        height: 1.8rem;
        background-color: var(--color-4);
        color: #fff;
        border-radius: 50%;
        font-size: 1.8rem;
        box-shadow: 1px 1px 3px 3px var(--color-4-op25);
        svg {
          width: 60%;
          height: 60%;
          vertical-align: middle;
        }
      }
    }
  }
  ul {
    margin-top: 0.5rem;
    li {
      display: flex;
      align-items: center;
      column-gap: 5px;
      line-height: 2rem;
      font-weight: 700;
      .card-dot {
        font-size: 0;
        display: block;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background-color: var(--color-4);
        &.red { background-color: var(--color-red) }
        &.green { background-color: var(--color-green) }
      }
      .detail {
        flex-grow: 1;
        line-height: 2rem;
        color: #000;
      }
      .cost {
        &.red { color: var(--color-red) }
        &.green { color: var(--color-green) }
      }
    }
    &.gridUl {
      li {
        button {
          text-align: start;
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 0.4rem 1fr;
          column-gap: 5px;
          align-items: center;
          .more {
            grid-column: 2/3;
            font-size: 0.8rem;
            line-height: 0.9rem;
          }
          &.grid_3 {
            display: grid;
            grid-template-columns: 0.4rem 1fr auto;
            .more {
              grid-column: 2/4;
            }
          }
        }
      }
    }
  }
}
.popup {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  min-width: 300px;
  .handleCard {
    margin: 5rem auto;
    .handleCard-body {
      text-align: end;
      > button {
        margin-top: 5rem;
        &.no_margin { margin-top: 0; }
        background-color: var(--color-4);
        color: #fff;
        padding: 0.4rem 2rem;
        border-radius: 5px;
        margin-left: 0.5rem;
        &.color1 {
          background-color: var(--color-1);
          color: var(--color-4);
        }
      }
      > div:not(.srchInputPlace) {
        display: grid;
        grid-template-columns: 4.5rem 1fr 1fr;
        column-gap: 0.5rem;
        margin-top: 1rem;
        align-items: center;
        &.long {
          grid-template-columns: 6rem 1fr 1fr;
        }
        input, select {
          width: 100%;
        }
        strong {text-align: start}
        .clarify {
          grid-column: 1/4;
          text-align: start;
          font-size: 0.8rem;
          font-weight: 700;
          padding-top: 0.5rem;
          opacity: 0.8;
        }
        &:not(.typePart) {
          > *:not(strong, svg, .clarify) {
            grid-column: 2/4;
            padding: 0.5rem;
            border-radius: 0.4rem;
            border: 1px solid var(--color-4);
          }
        }
        &.selectPart{
          position: relative;
          select {
            position: relative;
            background-color: transparent;
          }
          svg {
            position: absolute;
            right: 1rem;
            width: 0.8rem;
            .thisColor {
              fill: var(--color-4);
            }
          }
        }
      }
      .srchInputPlace {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        padding: 1rem 0 3rem;
        select {
          text-align: center;
          border: 0;
          border-bottom: 1px solid var(--color-4);
          padding: 0.2rem 0.5rem;
          option {
            font-size: 0.8rem;
          }
        }
        span:first-of-type {
          margin-right: 1rem;
        }
      }
      .typePart {
        label {
          display: inline-block;
          width: 100%;
          border-radius: 5px;
          padding: 0.5rem;
          text-align: center;
          background-color: var(--color-4);
          color: #fff;
          &:not(.active) {
            color: #a5a5a5;
            background-color: #eee;
          }
        }
        input {
          display: none;
        }
      }
    }
  }
  .periodCard {
    margin: 5rem auto;
  }
}
svg{
  .thisColor {
    fill: #a5a5a5;
  }
  &.active {
    .thisColor {
      fill: var(--color-4);
    }
  }
}
header {
  background-color: var(--color-4);
  height: 50px;
  padding: 0.5rem;
  .inner {
    display: flex;
    justify-content: space-around;
  }
}
.inner {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

main {
  height: calc(100vh - 50px);
  overflow-y: hidden;
  position: relative;
  .inner {
    .manage-card {
      .card-title {
        font-size: 1rem;
      }
      &:not(:first-of-type) {
        margin-top: 1.5rem;
      }
    }
  }
  .main-header {
    font-size: 1.3rem;
    padding: 1rem 0;
  }
  .myPageInner {
    .accountCard {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      p {
        span:first-of-type {
          font-weight: 700;
          margin-right: 1rem;
        }
      }
      button {
        font-weight: 700;
        padding: 0.5rem;
        border-radius: 0.5rem;
        &:first-of-type {
          background-color: var(--color-4);
          color: #fff;
        }
        &:last-of-type {
          background-color: var(--color-1);
          color: var(--color-4);
        }
      }
    }
    .themeCard {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      align-items: center;
      > button {
        background-color: var(--color-4);
        color: #fff;
        padding: 0.5rem;
        border-radius: 0.5rem;
        width: 100%;
      }
    }
  }
}
.chartPlace {
  margin: 1rem 0;
}
